@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --text-color: hsl(233, 8%, 62%);
    --heading-color: hsl(233, 26%, 24%);
    --button-gradient: linear-gradient(to right, hsl(136, 65%, 51% ), hsl(192, 70%, 51%));
    --footer-link-color: hsl(136, 65%, 51%);
    --article-link-color: hsl(192, 70%, 51%);
}

* {padding: 0; margin: 0; box-sizing: border-box;}
html, body {width: 100%;}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

#header {
    height: 4.5rem;
    background: #FFFFFF;
    position: relative;
    z-index: 5;
}

#header .request-button {margin-right: 3em;}

.flex {display: flex;}
.jus-center {justify-content: center;}
.jus-between {justify-content: space-between;}
.ali-center {align-items: center;}
.ali-end {align-items: flex-end;}
.dir-column {flex-direction: column;}

.page-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
    border-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-nav {
    display: flex;
}

.header-nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8em;
}
.header-nav a:hover {
    color: var(--heading-color);
}

.header-nav a:hover::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    width: 4em;
    height: 0.2rem;
    background: var(--button-gradient);
    margin: 0 auto;
}

.request-button {
    border: none;
    font-weight: bold;
    font-size: 0.8em;
    color:   hsl(220, 16%, 96%);
    padding: 0.8em 2.4em;
    background: var(--button-gradient);
    border-radius: 2.5em;
    cursor: pointer;
    min-width: 11.5em;
}

.request-button:hover {
    filter: grayscale(60%) contrast(140%);
}

.mobile-menu-button {display: none;}

.default-section {
    height: 36em;
    background-color: #FAFAFA;
}

.default-text-color {
    color: var(--text-color);
}

.section-padding-top-6em {padding-top: 6em;}

.intro-section {z-index: 4;}

.section-container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.intro-section-container {
    background: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: right -450px top -255px;
    position: relative;
}

.intro-mockup-image {
    position: absolute;
    right: -120px;
    top: -120px;
}

.intro-content-container {
    position: relative;
    top: 10em;
}

.section-title {
    font-weight: 300;
    color: var(--heading-color);
}

.section-title-size {
    font-size: 2em; 
}

.section-text {
    line-height: 1.5em;
}

.intro-title {
    font-size: 3em;
    inline-size: 10em;
}

.intro-text {
    inline-size: 25em;
    margin: 1em 0 1.5em;
}

.why-section {
    background-color: #F4F5F7;
}

.why-content-container {
    margin-bottom: 4em;
}

.why-cards-container {
    justify-content: space-between;
}

.why-title {margin-bottom: 0.5em;}

.why-text {inline-size: 38em;}

.why-card-title {margin: 1.5em 0;}
.why-card-text {font-size: 0.85em; inline-size: 16.55em;}

.articles-section {
    background-color: #FAFAFA;
    height: 40em;
}
.articles-section-title {
    margin-bottom: 1.5em;
}

.article-cards-container {gap: 1.5em;}
.article-card {
    inline-size: 16em;
    background-color: #FFFFFF;
    border-radius: 0.2em;
    box-shadow: 0 0 5px hsl(220, 16%, 96%);
    overflow: hidden;
}
.article-card-image {
    width: 100%;
    height: 45%;
}
.article-card-content {
    padding: 1.5em 1em 1em;
}
.article-card-title {
    margin: 0.5em 0;
    font-size: 0.9em;
}
.article-card-title > a {
    text-decoration: none;
    color: inherit;
}
.article-card-title > a:hover {
    color: var(--article-link-color);
}
.article-card-description {
    font-size: 0.8em;
    line-height: 1.5em;
}
.article-author {font-size: 0.7em;}

#footer {
    background-color: hsl(233, 26%, 24%);
    height: 9em;
}

.left-side {
    width: 50%;
}

.brand-social, .firts-column, .second-column, .right-side {
    flex-direction: column;
}

.footer-links {gap: 6em;}

.footer-links a {
    margin: 0.5em 0;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
}

#footer a:hover {
    color: var(--footer-link-color);
}

#footer .request-button {
    margin-bottom: 2em;
}

.footer-icon-facebook {
    mask: url("images/icon-facebook.svg");
    -webkit-mask: url("images/icon-facebook.svg");
}
.footer-icon-youtube {
    mask: url("images/icon-youtube.svg");
    -webkit-mask: url("images/icon-youtube.svg");
}
.footer-icon-twitter {
    mask: url("images/icon-twitter.svg");
    -webkit-mask: url("images/icon-twitter.svg");
    width: 23px !important;
}
.footer-icon-pinterest {
    mask: url("images/icon-pinterest.svg");
    -webkit-mask: url("images/icon-pinterest.svg");
}
.footer-icon-instagram {
    mask: url("images/icon-instagram.svg");
    -webkit-mask: url("images/icon-instagram.svg");
}

.footer-icon {
    display: inline-block;
    background: #fff;
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 22px; height: 22px;
}

.footer-icon {margin: 0 0.3em;}

.footer-icon:last-child, .footer-icon:first-child {
    margin: 0;
}

.footer-icon:hover {
    background: var(--footer-link-color);
}

@media screen and (max-width: 767px) {
    .why-section, .articles-section {
        height: auto;
    }
    .header-nav {display: none;}
    #header .request-button {display: none;}
    .page-container {
        width: 90%;
    }
    .mobile-menu-button {display: block;}
    .intro-section-container {
        background: url("images/bg-intro-mobile.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: -50px;
        background-position-x: 0;
    }
    .intro-content-container {
        top: 18em;
    }
    .intro-mockup-image {
        right: 15px;
        top: -115px;
        width: 90%;
    }
    .section-title-size {
        font-size: 1.8em;
    }
    .intro-title {
        font-size: 2em;
    }
    .intro-text {margin: 1.5em 0 2.5em;}
    .intro-text, .why-card-text {
        font-size: 0.80em;
    }
    .intro-content-container, .why-section, .articles-section-title {
        text-align: center;
    }
    .why-text, .intro-title, .intro-text, .why-card-text, .article-card {
        inline-size: auto;
    }
    .why-cards-container, .article-cards-container {
        flex-direction: column;
    }
    .why-cards-container {
        gap: 2em;
    }
    .why-card-title {
        font-size: 1.1em;
        margin: 1em 0;
    }
    .why-section, .articles-section {
        padding-bottom: 4em;
    }
    .why-text {
        font-size: 0.85em;
    }

    #footer {
        height: auto;
        padding: 2em 0;
    }
    #footer .page-container, .left-side, .right-side, .footer-links {
        flex-direction: column;
    }
    .footer-links {
        gap: 0;
        text-align: center;
        margin: 1em 0;
    }
    .left-side {width: auto;}
    .right-side {align-items: center !important;}
    .brand-social {gap: 1em;}
}
